<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Nuevo empresa</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        form {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

    </style>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h1 style="color:black;" >Mayores en casa |  Pedir Registro</h1>
    </div>

    <header><h2>Registra una empresa<br>
        <hr></h2></header>
    <form action="#" th:action="@{/empresa/add}"
          th:object="${empresa}" method="post">
        <table style="margin:auto">

            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126496.svg"width="30" height="30"></td>
                <td>&nbsp;Nombre:&nbsp;</td>
                <td><input type="text" th:field="*{nombre}"
                           placeholder="Nombre o razon social" maxlength="50"/></td>
                <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></td>

            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126109.svg"width="30" height="30"></td>
                <td>&nbsp;CIF:&nbsp;</td>
                <td><input type="text" th:field="*{cif}" maxlength="10"
                           placeholder="12345678X"/></td>
                <td th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126485.svg"width="30" height="30"></td>
                <td>&nbsp;Usuario:&nbsp;</td>
                <td><input type="text" th:field="*{usuario}" maxlength="50"/></td>
                <td th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126479.svg"width="30" height="30"></td>
                <td>&nbsp;Contraseña:&nbsp;</td>
                <td><input type="password" th:field="*{contraseña}" maxlength="50"/></td>
                <td th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126516.svg"width="30" height="30"></td>
                <td>&nbsp;Email:&nbsp;</td>
                <td><input type="text" th:field="*{email}" maxlength="100"
                           placeholder="ejemplo@email.com"/></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126470.svg"width="30" height="30"></td>
                <td>&nbsp;Direccion:&nbsp;</td>
                <td><input type="text" th:field="*{direccion}" maxlength="100"
                           placeholder="Calle Teruel, 23 (Castellón)"/></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126486.svg"width="30" height="30"></td>
                <td>&nbsp;Contacto:&nbsp;</td>
                <td><input type="text" th:field="*{persona_contacto}" placeholder="Persona de contacto"/></td>
                <td th:if="${#fields.hasErrors('persona_contacto')}" th:errors="*{persona_contacto}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126509.svg"width="30" height="30"></td>
                <td>&nbsp;Teléfono:&nbsp;</td>
                <td><input type="tel" pattern="[0-9]{9}" th:field="*{telefono}"
                           placeholder="612345678"/></td>
                <td th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><img src="https://image.flaticon.com/icons/svg/126/126141.svg"width="30" height="30"></td>
                <td>&nbsp;Servicio:&nbsp;</td>
                <td><select class="form_control" type="text" th:field="*{tiposervicio}">
                    <option value="Cattering">Cattering</option>
                    <option value="Sanitario">Sanitario</option>
                    <option value="Limpieza">Limpieza</option>
                </select>
                <td th:if="${#fields.hasErrors('tiposervicio')}" th:errors="*{tiposervicio}"></td>
                </td>
            </tr>
            <tr><td><br></td></tr>
<!--            <tr><td><br></td></tr>-->
<!--            <tr>-->
<!--                <td><img src="https://image.flaticon.com/icons/svg/126/126141.svg"width="30" height="30"></td>-->
<!--                <td>&nbsp;Servicio:&nbsp;</td>-->
<!--                <td><input type="text" th:field="*{tiposervicio}" placeholder="Cattering, Salud, Limpieza" /></td>-->
<!--                <td th:if="${#fields.hasErrors('tiposervicio')}" th:errors="*{tiposervicio}"></td>-->
<!--            </tr>-->
<!--            <tr><td><br></td></tr>-->

            <td><br></td><td><br></td><td colspan="2"><input type="submit" class="boton_añadir" role="button" value="REGISTRAR" />
            <input class="boton_personalizado1" id="borrar" type="reset" value="BORRAR"></td>
            </tr>
        </table>
        <br>
    </form>
</div>
<a th:href="@{/}" class="boton_personalizado1" role="button" >Volver</a>
</body>
</html>