<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Empresa exite</title>
    <style>
    img {
    max-width: 100%;
    max-height: 100%;
}
</style>
</head>
<body>
<div  layout:fragment="content" >
    <table>
        <tr><td><img src="https://image.flaticon.com/icons/svg/753/753345.svg" width="90" height="90"></td></tr>
        <tr><td><h4>No se puede registrar la empresa. El usuario, nombre o CIF existe en la base de datos</h4></td></tr>
        <tr><td><img src="https://image.flaticon.com/icons/svg/2905/2905068.svg"width="60" height="60"><a style="font-size: 15px;"></a></td></tr>
        <tr><td>Por favor revisa que no tengas la empresa ya registrada. Gracias</td></tr>
    </table>
    <br>
    <br>
    <br>
    <a th:href="@{/empresa/add}" class="boton_personalizado1" role="button" >Atrás</a>
    <br>
    <br>
</div>
</body>
</html>