<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Info Empresa</title>
<!--<style>-->
<!--        img {-->
<!--            display: block;-->
<!--            max-width: 100%;-->
<!--            max-height: 100%;-->
<!--        }-->
<!--</style>-->
</head>
    <body>
        <div  layout:fragment="content" >
            <table style="width:100%;">
                <tr>
                    <td><img src="http://imgfz.com/i/XY5DGUv.png"width="150" height="95"></td>
                    <td style="text-align: center;"><h3>Información para empresas</h3></td>
                    <td style="text-align: right;"><a href="https://www.gva.es/va/inicio/presentacion"><img src="http://imgfz.com/i/kNUqsPF.png" width="150" height="86" alt="Paisaje">&nbsp;</a></td>
                </tr>
            </table>
            <hr>
<!--            <hr style="border: 5px solid #4169e1; border-radius: 5px; border-style: inset;">-->
            <br>
            La Consejeria de Asuntos Sociales (CAS) ha puesto en marcha un proyecto para mejorar la calidad de vida de las personas mayores que quieran estar en su domicilio con cierta independencia.
            Mayores a casa tiene como objetivo ofrecer servicios de ayuda y compañía a las personas mayores, actualmente tenemos tres prestaciones:
            <br>
            <td><img style="display: block; max-width: 100%;  max-height: 100%;" src="http://imgfz.com/i/rq9a27J.png"></td>
            <br>
            En caso de ser una empresa que quiere ofrecer estos servicios a un coste reducido, la Generalitat Valenciana lanza anualmente una base de datos de empresas y comercios que quieran ser proveedores.
            Así pues, todas aquellas empresas de la comunidad que estén interesadas deben rellenar y presentar el formulario que se encuentra a su disposición en el Registro General de la GVA
            <br>
            <br>
            <table style="width:100%;">
                <tr>
                    <td>&nbsp;</td>
                    <td style="text-align: right;"><a href="http://infocoronavirus.gva.es/va"><img src="http://imgfz.com/i/NtBqkfG.jpeg" width="300" height="180" alt="Paisaje">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></td>
                </tr>
                <tr>
                    <td><img src="http://imgfz.com/i/AIOpC7b.png" width="106" height="66"></td><td style="text-align:right; color:red;">Què es por fer en la Nova Normalitat?&nbsp;</td>
                </tr>
            </table>
            <br>
            <br>
            <a th:href="@{/}" class="boton_personalizado1" role="button" >Volver</a>
            <a th:href="@{https://www.gva.es/}" class="boton_personalizado1" role="button" >Generalitat Valenciana</a>
            <br><br>
        </div>
    </body>
</html>