<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Lista de empresas</title>

</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h2 style="color:black;" >Mayores en casa | CAS Manager | Empresas</h2>
    </div>
    <h2>Lista de las empresas registradas</h2>
    <table class="table table-striped" border="5" bordercolor="#0973ba" style=" width:100%">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">CIF</th>
            <th scope="col">Contacto</th>
            <th scope="col">Email Contacto</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empresa: ${empresas}">
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.cif}"></td>
            <td th:text="${empresa.contacto}"></td>
            <td th:text="${empresa.cont_mail}"></td>
            <td><a type="button" class="boton_editar" style="font-size: 14px;" th:href="@{/empresa/unilist/{usuario}(usuario=${empresa.usuario})}">Más Información</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="/casmanager/index" class="boton_personalizado1" role="button" >Volver</a>
    <br><br>

</div>
</body>
</html>
