<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Contratos activos</title>

</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h3 style="color:black;" >Mayores en casa | Empresa | Tu Contrato actual </h3>
    </div>
    <br>
    <br>
    <table class="table" border="5" bordercolor="#00db0b" style="background: rgba(0, 219, 11, 0.2">
        <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Servicio</th>
            <th scope="col">Fecha inicial</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Días semana</th>
            <th scope="col">Hora inicial</th>
            <th scope="col">Hora final</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contrato: ${contratos}">
            <td th:text="${contrato.codcontrato}"></td>
            <td th:text="${contrato.tiposervicio}"></td>
            <td th:text="${{contrato.fechainicial}}"></td>
            <td th:text="${{contrato.fechafinal}}"></td>
            <td th:text="${contrato.dias_semana}"></td>
            <td th:text="${contrato.horainicial}"></td>
            <td th:text="${contrato.horafinal}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a href="/empresa/index" class="boton_personalizado1" role="button" >Volver</a>
    <br><br>

</div>
</body>
</html>