<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Mayores en casa</title>

    <style>
          th, td, tr{
            text-align: left;
            border:black 1;
        }
    </style>
</head>
<body>
<!--style="overflow: hidden;-->
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h3 style="color:black;" >Mayores en casa | Empresa | Clientes | Servicios activos </h3>
    </div>
    <br>
    <br>
    <ul>
        <li>Adaptarse al horario del cliente, siempre que sea posible. <br>
        <li>Horario Predefinido:
            <ul><li>Catering de Lunes a Domingo de 14:00 a 15:00 y dieta normal
                <li>Sanitario de Lunes a Domingo de 10:00 a 13:00 en cualquier momento
                <li>Limpieza de Lunes a Viernes de 10:00 a 13:00 en cualquier momento
            </ul>
    </ul>
    <br>
    <table class="table table-striped" border="5" bordercolor="#0973ba" style=" width:100%">
        <thead>
        <tr>
            <th scope="col">Beneficiario</th>
            <th scope="col">Dni</th>
            <th scope="col">Servicio</th>
            <th scope="col">Telefono</th>
            <th scope="col">Direccion</th>
            <th scope="col">Dieta</th>
            <th scope="col">Horario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="servicio: ${servicios}">
            <td th:text="${servicio.beneficiario}"></td>
            <td th:text="${servicio.dni}"></td>
            <td th:text="${servicio.tiposervicio}"></td>
            <td th:text="${servicio.telefono}"></td>
            <td th:text="${servicio.direccion}"></td>
            <td th:text="${servicio.tipodieta}"></td>
            <td th:text="${servicio.comentarios}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a href="/empresa/index" class="boton_personalizado1" role="button" >Volver</a>
    <br><br>

</div>
</body>
</html>