<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Nuevo empresa</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        form {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

    </style>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h2 style="color:black;" >Mayores a casa |  CAS | Alta contrato</h2>
    </div>
    <form action="#" th:action="@{/contrato/add}"
          th:object="${contrato}" method="post">
        <h2>Añade un contrato.</h2><hr>
        <h3>Como dar de alta un contrato</h3>
        <ul>
            <li>Añade el contrato a una empresa, si no existe la empresa debes registrarla primero.</li>
            <li>Debes poner el usuario de la empresa en cuestion (No nombre ni contacto). </li>
            <li>Abajo tienes un link para copiar el usuario y pegarlo en la casilla "Usuario empresa".</li>
        </ul>
        <hr>
        <table style="margin:auto">
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/126/126496.svg"width="30" height="30"></td>
                    <td>&nbsp;Usuario empresa:&nbsp;</td>
                    <td><input type="text" th:field="*{empresa}"
                               placeholder="usuario" maxlength="50"/></td>
                    <td th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/126/126141.svg"width="30" height="30"></td>
                    <td>&nbsp;Tipo de Servicio:&nbsp;</td>
                    <td><select class="form_control" type="text" th:field="*{tiposervicio}">
                        <option value="Cattering">Cattering</option>
                        <option value="Sanitario">Sanitario</option>
                        <option value="Limpieza">Limpieza</option>
                    </select>
                    <td th:if="${#fields.hasErrors('tiposervicio')}" th:errors="*{tiposervicio}"></td>
                    </td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/126/126151.svg"width="30" height="30"></td>
                    <td>&nbsp;Cantidad Servicios:&nbsp;</td>
                    <td><input type="number" th:field="*{cantidadservicios}" placeholder="2,4,5,.."/></td>
                    <td th:if="${#fields.hasErrors('cantidadservicios')}" th:errors="*{cantidadservicios}"></td>
                </tr>
                <tr><td><br></td></tr>
                <td><br></td><td><br></td><td colspan="2"><input type="submit" class="boton_añadir" role="button" value="AÑADIR"/></td>
                </tr>
        </table>
    </form>
    <br>
    <a class="boton_personalizado1" th:href="@{/empresa/list}" role="button">Lista de Empresas</a>
    <a class="boton_personalizado1" th:href="@{/contrato/list}" role="button">Ver/Eliminar Contratos</a>
</div>
</body>
</html>