<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Nuevo empresa</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        form {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

    </style>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h2 style="color:black;" >Mayores en casa |  CAS | Alta contrato</h2>
    </div>
    <form action="#" th:action="@{/contrato/add}"
          th:object="${contrato}" method="post">
        <h2>Añade un contrato.</h2><hr>
        <h3>Como dar de alta un contrato</h3>
        <ul>
            <li>Añade el contrato a una empresa, si no existe la empresa debes registrarla primero.</li>
            <li>Recuerda que los días de la semana debes ponerlos con el formato que indica: </li>
                <ul><li>Lunes=L, Martes=M, Miercoles=X, Jueves=J, Viernes=V, Sabado=S, Domingo=D. </li></ul>
            <li>Precios de los servicios actuales:</li>
                <ul><li>Catering: 6€ - Sanitario: 5€ - Limpieza: 7€</li></ul>
        </ul>
        <hr>
        <table style="margin:auto">
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/126/126496.svg"width="30" height="30"></td>
                    <td>&nbsp;&nbsp;Empresa:&nbsp;</td>
                    <td>
                        <select class="form_control" th:field="*{empresa}" >
                            <option th:each="empresa:${empresas}"
                                    th:value="${empresa}"
                                    th:text="${empresa}">
                            </option>
                        </select>
                    <td th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}"></td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/126/126141.svg"width="30" height="30"></td>
                    <td>&nbsp;&nbsp;Servicio:&nbsp;</td>
                    <td><select class="form_control" th:field="*{tiposervicio}">
                        <option value="Cattering">Cattering</option>
                        <option value="Sanitario">Sanitario</option>
                        <option value="Limpieza">Limpieza</option>
                    </select>
                    <td th:if="${#fields.hasErrors('tiposervicio')}" th:errors="*{tiposervicio}"></td>
                    </td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/747/747310.svg"width="30" height="30"></td>
                    <td>&nbsp;Fecha de inicio:&nbsp;</td>
                    <td><input type="text" th:field="*{fechainicial}" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
                               title="Formato:DD/MM/YYYY"  placeholder="DD/MM/YYYY"></td>
                    <td th:if="${#fields.hasErrors('fechainicial')}" th:errors="*{fechainicial}"></td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/747/747310.svg"width="30" height="30"></td>
                    <td>&nbsp;Fecha final:&nbsp;</td>
                    <td><input type="text" th:field="*{fechafinal}" required pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}"
                               title="Formato:DD/MM/YYYY"  placeholder="DD/MM/YYYY"></td>
                    <td th:if="${#fields.hasErrors('fechafinal')}" th:errors="*{fechafinal}"></td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/126/126516.svg"width="30" height="30"></td>
                    <td>&nbsp;Dias semana:&nbsp;</td>
                    <td><input type="text" th:field="*{dias_semana}" placeholder="L-M-X-J-V-S-D"/></td>
                    <td th:if="${#fields.hasErrors('dias_semana')}" th:errors="*{dias_semana}"></td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/2919/2919788.svg"width="30" height="30"></td>
                    <td>&nbsp;Hora de inicio:&nbsp;</td>
                    <td><input type="text" th:field="*{horainicial}" required pattern="[0-9]{2}:[0-9]{2}"
                               title="Formato:HH:MM"  placeholder="HH:MM"></td>
                    <td th:if="${#fields.hasErrors('horainicial')}" th:errors="*{horainicial}"></td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/2919/2919788.svg"width="30" height="30"></td>
                    <td>&nbsp;Hora final:&nbsp;</td>
                    <td><input type="text" th:field="*{horafinal}" required pattern="[0-9]{2}:[0-9]{2}"
                               title="Formato:HH:MM"  placeholder="HH:MM"></td>
                    <td th:if="${#fields.hasErrors('horafinal')}" th:errors="*{horafinal}"></td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><img src="https://image.flaticon.com/icons/svg/3037/3037158.svg"width="30" height="30"></td>
                    <td>&nbsp;Precio unidad:&nbsp;</td>
                    <td><input type="number" th:field="*{preciounidad}"></td>
                    <td th:if="${#fields.hasErrors('preciounidad')}" th:errors="*{preciounidad}"></td>
                </tr>
                <tr><td><br></td></tr>
                <td><br></td><td><br></td><td colspan="2"><input type="submit" class="boton_añadir" role="button" value="AÑADIR"/></td>
                </tr>
        </table>
    </form>
    <br>
    <a class="boton_personalizado1" th:href="@{/casmanager/index}" role="button">Atrás</a>
    <a class="boton_personalizado1" th:href="@{/contrato/list}" role="button">Ver/Eliminar Contratos</a>
</div>
</body>
</html>