<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Info Empresa</title>
    <style>
    img {
    max-width: 100%;
    max-height: 100%;
}
</style>
</head>
<body>
<div  layout:fragment="content" >
    <table>
        <tr><td><img src="https://image.flaticon.com/icons/svg/845/845646.svg" width="90" height="90"></td></tr>
        <tr><td><h4>Contrato añadido con exito.</h4></td></tr>
        <tr><td><br></a></td></tr>
        <tr><td>Se ha enviado un email automatico a la persona de contacto de la empresa para informarle.</td></tr>
    </table>
    <br>
    <br>
    <br>
    &nbsp;<a onClick="history.back()" class="boton_personalizado1" role="button" ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="50"  alt="x"></a>
    <br>
    <br>
</div>
</body>
</html>