<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div  layout:fragment="content">
<div style="padding: 25px 50px;background-color:#B0E0E6;"><h1>Mayores a casa | CAS | Contratos </h1></div>

    <br>
    <h2>La empresa que has introducido no existe, por favor revisa los datos o añade la <a th:href="@{/empresa/add}">empresa</a></h2>
    <br>
<a class="boton_personalizado1" th:href="@{/contrato/add}" role="button">Atras</a>
<a class="boton_personalizado1" th:href="@{/}" role="button">Página Principal</a>
<a class="boton_personalizado1" th:href="@{/empresa/add}" role="button">AÑADIR EMPRESA</a>
</div>
</body>
</html>