<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Gestionar contratos</title>

    <style>
        th, td, tr{
            text-align: left;
            border:black 1;
        }
    </style>
</head>
<body>
<div  layout:fragment="content" >
    <h2>Lista de los contratos pasados</h2>
    <table class="table table-striped" border="5" bordercolor="#0973ba" >
        <thead>
        <tr >
            <th style="text-align: center" scope="col">Empresa</th>
            <th style="text-align: center"  scope="col">Servicio</th>
            <th style="text-align: center"  scope="col">Fecha Inicial</th>
            <th style="text-align: center"  scope="col">Fecha Final</th>
<!--            <th style="text-align: center"  scope="col">Precio unidad</th>-->
            <th style="text-align: center"  scope="col">Días</th>
            <th style="text-align: center"  scope="col">Inicio</th>
            <th style="text-align: center"  scope="col">Fin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contrato: ${listPasados}">
            <td th:text="${contrato.empresa}"></td>
            <td th:text="${contrato.tiposervicio}"></td>
            <td style="text-align: center" th:text="${{contrato.fechainicial}}"></td>
            <td style="text-align: center" th:text="${{contrato.fechafinal}}"></td>
<!--            <td th:text="${contrato.preciounidad}"></td>-->
            <td th:text="${contrato.dias_semana}"></td>
            <td style="text-align: center" th:text="${contrato.horainicial}"></td>
            <td style="text-align: center" th:text="${contrato.horafinal}"></td>

            <!--            <td><a type="button" class="boton_eliminar" style="width:100px; height:25px font-weight: 100; font-size: 14px;" th:href="@{/contrato/delete/{codcontrato}(codcontrato=${contrato.codcontrato})}">BORRAR</a></td>-->
        </tr>
        </tbody>
    </table>
    &nbsp;<a onClick="history.back()" class="boton_personalizado1" role="button" ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="50"  alt="x"></a>
    &nbsp;&nbsp;<a th:href="@{/contrato/add}" class="boton_personalizado1" role="button" >Alta Contrato</a>&nbsp;
    <br><br>
</div>
</body>
</html>