<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{templates/fragments/base}">
<head>
    <meta charset="UTF-8" />
    <title>Mayores a casa</title>
<!--    <script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=TnKQQIT9V1FSjIXrrBT0XzJIH0eWhr7h1GPsePd1QBcgc7A2kxfeU3IS1wjpKLOzXBHzzxYoPiKEKs5plzaSYqwOOfP7cgmvrqpCwpSP0OJYjcVjugZM2ey7YURNJhBltgOF6SymDoNvXaUXh4YWqw" charset="UTF-8"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body >
<div class="container">
    <img src="http://imgfz.com/i/i4pnQGN.png" width="1000" height="333">
    <div ALIGN="justify" style=" padding: 25px 50px;background-color:#0973ba;color:white"><p class="body">
        <p class="h3">¿Que es Mayores a casa?</p>
        <br>
        &nbsp;&nbsp;&nbsp;En esta página tenemos como objetivo proporcionar atencion personal y/o domestica en el domicilio a las
        personas mayores que lo necesiten, cubrimos servicios básicos como higiene y cuidado de la persona, tambien
        un servicio de cattering, para que puedean comer o cenar, asi como un servicio de salud personalizada (ayuda
        psicomotriz, control de la medicación, masajes musculares, etc.) </p>
        <br></div>
    <br>
    <br>
        <div><table>
            <tr><td><img src="https://image.flaticon.com/icons/svg/2843/2843256.svg"width="50" height="50"></td><td><p class="h3">&nbsp;Ya estoy registrado&nbsp;<a class="boton_personalizado1" th:if="*{user == null}"  href="/login" role="button">Entrar</a></p></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/2843/2843391.svg"width="50" height="50"></td><td><p class="h3">&nbsp;Quiero ayudar a la gente mayor.&nbsp;<a class="boton_personalizado1" href="/voluntario/add" role="button">Hazte Voluntario</a></p></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/2843/2843289.svg"width="50" height="50"></td><td><p class="h3">&nbsp;Quiero ofrecer mis servicios como &nbsp;<a class="boton_personalizado1" href="/empresa/add" role="button">Empresa</a></p></td></tr>
        </table>
    </div>
    <br>
    <br>
<!--    width="1000" height="333"-->
    <table>
        <a href="/beneficiario/add" target="_blank"><img src="http://imgfz.com/i/opRAMic.png"></a>
    </table>
    <h3>¿No sabes como utilizar nuestra página?</h3>
    <a class="boton_personalizado1" href="asistente/solicitar" role="button">Contacta con un asistente</a>
    <br>
    <br>
</div>
    <div ALIGN="center" style=" background-color:#4169E1;color:white"><p class="body">
        <p class="h3">Mayores a casa</p>
        <br>
        Telefono: 920 14 58 74 - Email: <a style="color:white" href="mailto:al375877@uji.es">mayorescasa@gva.es</a><br>
        © Copyright 2020.  Todos los derechos reservados. √ Usamos Cookies<br>
        <br>
        <table>
            <td><a href="https://www.facebook.com/" target="_blank"><img src="https://image.flaticon.com/icons/svg/145/145802.svg" width="50" height="50"></a></td><td>&nbsp;</td>
            <td><a href="https://twitter.com/" target="_blank"><img src="https://image.flaticon.com/icons/svg/145/145812.svg" width="50" height="50"></a></td><td>&nbsp;</td>
            <td><a href="https://www.instagram.com/" target="_blank"><img src="https://image.flaticon.com/icons/svg/145/145805.svg" width="50" height="50"></a></td><td>&nbsp;</td>
        </table>
        <br>
    </div>
</body>
</html>