<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Añadir peticion</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
</head>
<body>
<div layout:fragment="content">
<h2>Nueva peticion</h2>
<form action="#" th:action="@{/peticion/add}"
      th:object="${peticion}" method="post">
    <table style="margin:auto">

        <tr>
            <td><label>Codigo Peticion</label></td>
            <td><input type="text" th:field="*{cod_pet}" placeholder="12123" maxlength="50" readonly="readonly" /></td>
        </tr>
        <tr>
            <td><label>Servicio</label></td>
            <td><input type="text" th:field="*{tiposervicio}" placeholder="LIMPIEZA" maxlength="50" readonly="readonly"/></td>
        </tr>
        <tr>
<!--            <span th:text="*{user.username}"> | </span>-->
            <td><label>Beneficiario</label></td>
            <td><input type="text" th:field="*{usuario_ben}" placeholder="bob" maxlength="50" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Linea</label></td>
            <td><input type="number" th:field="*{linea}" placeholder="1" maxlength="50" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Precio</label></td>
            <td><input type="number" th:field="*{precioservicio}" placeholder="200€" maxlength="50" readonly="readonly" /></td>
        </tr>
        <tr>
            <td><label>Fecha aceptada</label></td>
            <td><input type="date" th:field="*{fechaaceptada}" maxlength="50" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Fecha rechazada</label></td>
            <td><input type="date" th:field="*{fecharechazada}" maxlength="50" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Fecha final</label></td>
            <td><input type="date" th:field="*{fechafinal}" maxlength="50" readonly="readonly"/></td>
        </tr>
        <tr>
            <td><label>Comentarios</label></td>
            <td><input type="text" th:field="*{comentarios}" maxlength="200" /></td>
        </tr>
    </table>
    <br>
    <a th:href="@{servicios}" class="boton_personalizado1" role="button" >Volver</a>
</form>
</div>
</body>
</html>