<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div  layout:fragment="content">
<div style="padding: 25px 50px;background-color:#B0E0E6;"><h1>Mayores en casa | Beneficiaros | Servicios</h1></div>

<br>
<h2>Ya has solicitado este servicio, por favor si necesitas ayuda contacta con nosotros</h2>
<a class="boton_personalizado1" th:href="@{/asistente/solicitar}" role="button">Contacta con un asistente</a>
<a class="boton_personalizado1" th:href="@{/peticion/servicios}" role="button">Atras</a>
<a class="boton_personalizado1" th:href="@{/beneficiario/index}" role="button">Página Principal</a>
</div>
</body>
</html>