<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Lista peticiones</title>
    <style>
        th, td, tr{
            border:black 1;
        }
    </style>
</head>
<body>
<div  layout:fragment="content" >
    <div style="padding: 25px 50px;background-color:#B0E0E6;"><h3 style="color:black;">Mayores en casa | CAS Commitee | Peticiones resueltas</h3></div>
    <br>
    <br>
    <h3 style="color:green">Info: <img src="https://image.flaticon.com/icons/svg/2912/2912778.svg"width="50" height="50">&nbsp;Lista de peticiones aceptadas</h3>
    <br>
    <table class="table" border="5"  bordercolor="#00db0b" style="background: rgba(123, 224, 105, 0.2"  >
        <thead>
        <tr >
            <th style="text-align: center" scope="col">Servicio</th>
            <th style="text-align: center" scope="col">Aceptada</th>
            <th style="text-align: center" scope="col">Comentario</th>
            <th style="text-align: center" scope="col">Beneficiario</th>
            <th style="text-align: center" scope="col">Empresa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="peticion:${aceptadas}">
            <td th:text="${peticion.tiposervicio}"></td>
            <td th:text="${{peticion.fechaaceptada}}"></td>
            <td th:text="${peticion.comentarios}"></td>
            <td th:text="${peticion.beneficiario}"></td>
            <td th:text="${peticion.empresa}"></td>
        </tbody>
    </table>
    <br>
    <hr>
    <br>
    <h3 style="color:red" >Info: <img src="https://image.flaticon.com/icons/svg/2912/2912778.svg"width="50" height="50">&nbsp;Lista de peticiones rechazadas</h3>
    <br>
    <table class="table" border="5" bordercolor="#ff0000" style="background: rgba(255, 0, 0, 0.2" >
        <thead>
        <tr >
            <th style="text-align: center" scope="col">Codigo</th>
            <th style="text-align: center" scope="col">Servicio</th>
            <th style="text-align: center" scope="col">Rechazada</th>
            <th style="text-align: center" scope="col">Comentario</th>
            <th style="text-align: center" scope="col">Beneficiario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="peticion:${rechazadas}">
            <td th:text="${peticion.cod_pet}"></td>
            <td th:text="${peticion.tiposervicio}"></td>
            <td th:text="${{peticion.fecharechazada}}"></td>
            <td th:text="${peticion.comentarios}"></td>
            <td th:text="${peticion.beneficiario}"></td>
        </tbody>
    </table>
    <br>
    <a href="/cascommitee/index" class="boton_personalizado1" role="button" >Atrás</a>
    <br>
    <br>

</div>
</body>
</html>