<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Lista peticiones</title>
    <style>
        th, td, tr{
            text-align: center;
            border:black 1;
        }
<!--        div {-->
<!--          background-color: blue;-->
<!--          opacity: 0.3;-->
<!--        }-->
    </style>
</head>
<body>
<div  layout:fragment="content" >
    <div style="padding: 25px 50px;background-color:#B0E0E6;"><h3 style="color:black;">Mayores en casa | CAS Commitee | Peticiones pendientes</h3></div>
    <br>
    <br>
    <hr>
    <img src="https://image.flaticon.com/icons/svg/2905/2905068.svg"width="30" height="30"> ATENCIÓN<br>
    Si tienes que añadir una fecha final, o modificar el comentario para que la empresa lo vea más claro, por favor, hazlo antes de aceptar le petición, una vez aceptada ya no podrás hacerlo.
    <hr>
    <h3>Lista de las peticiones pendientes</h3>
    <br>
    <table class="table" border="5" bordercolor="#0973ba">
        <thead>
        <tr >
            <th style="background: rgba(105, 124, 224, 0.2" scope="col">Servicio</th>
            <th style="background: rgba(105, 124, 224, 0.2" scope="col">Beneficiario</th>
            <th style="background: rgba(105, 124, 224, 0.2" scope="col">Comentarios</th>
            <th style="background: rgba(105, 124, 224, 0.2" scope="col">Fecha final</th>
            <th style="background: rgba(105, 124, 224, 0.2" scope="col">Empresa</th>
        </tr>
        </thead>
        <tbody>
<!--        style="background-color:#ffebb5"-->
        <tr th:each="element:${map}">
            <td style="background: rgba(105, 124, 224, 0.2" th:text="${element.tiposervicio}"></td>
            <td style="background: rgba(105, 124, 224, 0.2" th:text="${element.beneficiario}"></td>
            <td style="background: rgba(105, 124, 224, 0.2" th:text="${element.comentarios}"></td>
            <td style="background: rgba(105, 124, 224, 0.2" th:text="${{element.fechafinal}}"></td>
            <td style="background: rgba(105, 124, 224, 0.2" th:text="${element.empresa}"></td>
            <td style="background: rgba(105, 124, 224, 0.2"><a type="button" class="boton_editar" style="font-size: 16px;" th:href="@{/peticion/update/{codigo}(codigo=${element.cod_pet})}">Editar/Añadir</a></td>
            <td style="background: rgba(105, 124, 224, 0.2"><a type="button" th:href="@{/peticion/aceptar/{cod_pet}(cod_pet=${element.cod_pet})}">
                <img  class="boton_añadir" src="https://image.flaticon.com/icons/svg/159/159767.svg" width="50"  alt="x" /></a></td>
            <td style="background: rgba(105, 124, 224, 0.2"><a type="button" th:href="@{/peticion/rechazar/{cod_pet}(cod_pet=${element.cod_pet})}">
                <img  class="boton_eliminar" src="https://image.flaticon.com/icons/svg/126/126098.svg" width="50"  alt="x" /></a></td>
<!--            <td >-->
<!--                <select form="añadir" name="empresa">-->
<!--                    <option th:each="empresa:${map.get(element.key)}"-->
<!--                            th:value="${empresa}"-->
<!--                            th:text="${empresa}"></option>-->
<!--                </select>-->
<!--            </td>-->
        </tbody>
    </table>

    <hr>

    <h3 style="color:green" >Info: <img src="https://image.flaticon.com/icons/svg/2912/2912778.svg"width="50" height="50">&nbsp;Lista de los contratos activos</h3>
    <table class="table" border="5"  bordercolor="#00db0b" style="background: rgba(123, 224, 105, 0.2" >
        <thead>
        <tr >
            <th style="text-align: center" scope="col">Empresa</th>
            <th style="text-align: center"  scope="col">Servicio</th>
            <th style="text-align: center"  scope="col">Fecha Inicial</th>
            <th style="text-align: center"  scope="col">Fecha Final</th>
            <th style="text-align: center"  scope="col">Dias semanales</th>
            <th style="text-align: center"  scope="col">Hora inicial</th>
            <th style="text-align: center"  scope="col">Hora final</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contrato: ${contratos}">
            <td th:text="${contrato.empresa}"></td>
            <td th:text="${contrato.tiposervicio}"></td>
            <td th:text="${{contrato.fechainicial}}"></td>
            <td th:text="${{contrato.fechafinal}}"></td>
            <td th:text="${contrato.dias_semana}"></td>
            <td th:text="${contrato.horainicial}"></td>
            <td th:text="${contrato.horafinal}"></td>

            <!--            <td><a type="button" class="boton_eliminar" style="width:100px; height:25px font-weight: 100; font-size: 14px;" th:href="@{/contrato/delete/{codcontrato}(codcontrato=${contrato.codcontrato})}">BORRAR</a></td>-->
        </tr>
        </tbody>
    </table>




    <br>
    <br>
    <a href="/cascommitee/index" class="boton_personalizado1" role="button" ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="50"  alt="x"></a>
<!--    <a href="/contrato/list" class="boton_personalizado1" role="button" >Ver contratos activos</a>-->
    <br>
    <br>

</div>
</body>
</html>