<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Gestionar Peticiones</title>

    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        th,td {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 15px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
<div  layout:fragment="content" >
<h2>Lista de las peticiones pendientes</h2>
<table class="table table-striped" style=" width:100%">
    <thead>
    <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Servicio</th>
        <th scope="col">Precio Servicio</th>
        <th scope="col">Linea</th>
        <th scope="col">Fecha aceptada</th>
        <th scope="col">Fecha rechazada</th>
        <th scope="col">Fecha final</th>
        <th scope="col">Comentarios</th>
        <th scope="col">Dni Beneficiario</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="peticion: ${peticiones}">
        <td th:text="${peticion.cod_pet}"></td>
        <td th:text="${peticion.tiposervicio}"></td>
        <td th:text="${peticion.precioservicio}"></td>
        <td th:text="${peticion.linea}"></td>
        <td th:text="${peticion.fechaaceptada}"></td>
        <td th:text="${peticion.fecharechazada}"></td>
        <td th:text="${peticion.fechafinal}"></td>
        <td th:text="${peticion.comentarios}"></td>
        <td th:text="${peticion.dni_ben}"></td>

        <td><a type="button" class="boton_añadir" th:href="@{/peticion/aceptar/{cod_pet}(cod_pet=${peticion.cod_pet})}">ACEPTAR</a></td>
        <td><a type="button" class="boton_editar" th:href="@{/peticion/rechazar/{cod_pet}(cod_pet=${peticion.cod_pet})}">RECHAZAR</a></td>
        <td><a type="button" class="boton_eliminar" th:href="@{/peticion/delete/{cod_pet}(cod_pet=${peticion.cod_pet})}">BORRAR</a></td>
    </tr>
    </tbody>
</table>
    <a href="/cas/index" class="boton_personalizado1" role="button" >Volver</a>
    <a href="/" class="boton_personalizado1" role="button" >Página Principal</a>
</div>
</body>
</html>