<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Gestionar Peticiones</title>

    <style>
        th, td, tr{
            text-align: center;
            border:black 1;
        }
    </style>
</head>
<body>
<div  layout:fragment="content" >
    <div style="padding: 25px 50px;background-color:#B0E0E6;"><h3 style="color:black;">Mayores en casa | CAS Commitee | Peticiones pendientes</h3></div>
    <br>
    <br>
<table  class="table table-striped" border="5" bordercolor="#0973ba" >
    <thead>
    <tr >
        <th style="text-align: center" scope="col">Servicio</th>
        <th style="text-align: center" scope="col">Estado</th>
        <th style="text-align: center" scope="col">Comentario</th>
        <th style="text-align: center" scope="col">Beneficiario</th>
        <th style="text-align: center" scope="col">Empresa</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="element:${map}" th:unless="*{map == null}">
        <td th:text="${element.key.tiposervicio}"></td>
         <td th:text="${element.key.estado}"></td>
        <td th:text="${element.key.comentarios}"></td>
        <td th:text="${element.key.beneficiario}"></td>
        <td >
            <select form="añadir" name="empresa">
                <option th:each="empresa:${map.get(element.key)}"
                        th:value="${empresa}"
                        th:text="${empresa}"></option>
            </select>
        </td>

        <td>

            <form action="#" th:action="@{/peticion/aceptar}" method="POST" id="añadir">
                <input type="hidden" name="cod" th:value="${element.key.cod_pet}">
                <input type="image" class="boton_añadir"  src="https://image.flaticon.com/icons/svg/159/159767.svg" alt="Submit" width="50"  >
            </form>
        </td>
        <td><a type="button"
               th:href="@{/peticion/rechazar/{cod_pet}(cod_pet=${element.key.cod_pet})}">
               <img  class="boton_editar" src="https://image.flaticon.com/icons/svg/126/126098.svg" width="50"  alt="x" /></a></td>
<!--        <td><a type="button"-->
<!--               th:href="@{/peticion/delete/{cod_pet}(cod_pet=${element.key.cod_pet})}">-->
<!--               <img class="boton_eliminar" src="https://image.flaticon.com/icons/svg/1632/1632602.svg" width="50" alt="x" /></a></td>-->
    </tbody>
</table>
    <br>
    <br>
    <a href="/cascommitee/index" class="boton_personalizado1" role="button" >Atrás</a>

</div>
</body>
</html>