<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Mayores a casa</title>

    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 10px 50px;background-color:#B0E0E6;">
        <h2 style="color:black">Mayores en casa | Beneficiaros | Tus Peticiones</h2>
    </div>
    <h2>Lista de las peticiones</h2>
    <table class="table table-striped" >
        <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Servicio</th>
            <th scope="col">Precio Servicio</th>
            <th scope="col">Linea</th>
            <th scope="col">Fecha aceptada</th>
            <th scope="col">Fecha rechazada</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Comentarios</th>
            <th scope="col">Dni Beneficiario</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="peticion: ${peticiones}">
            <td th:text="${peticion.cod_pet}"></td>
            <td th:text="${peticion.tiposervicio}"></td>
            <td th:text="${peticion.precioservicio}"></td>
            <td th:text="${peticion.linea}"></td>
            <td th:text="${peticion.fechaaceptada}"></td>
            <td th:text="${peticion.fecharechazada}"></td>
            <td th:text="${peticion.fechafinal}"></td>
            <td th:text="${peticion.comentarios}"></td>
            <td th:text="${peticion.dni_ben}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/beneficiario/index" class="boton_personalizado1" role="button" >Página Principal</a>
</div>
</body>
</html>