<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <style>
            th, td, tr{
            text-align: center;
            border:black 1;
        }
    </style>
</head>
<body>
<div  layout:fragment="content"  th:object="${session}">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h2 style="color:black">Mayores en casa | Beneficiaros | Servicios</h2>
    </div>

<br>
<!--    <div style="background-image: url('http://imgfz.com/i/XzgN6ab.jpeg'); background-size: 100% 100%;">-->
    <div style="background: rgba(105, 124, 224, 0.2" >
        <h2><img src="http://imgfz.com/i/lnKg3US.png"width="60" height="60"> Servicio de Limpieza</h2>
        <hr>
        <h4><img src="https://image.flaticon.com/icons/svg/2916/2916115.svg"width="40" height="40">&nbsp;Precio: 7 euros cada hora.</h4>
        <br>
        En este servicio contamos con una plantilla de trabajadores que han sido previamente seleccionados, donde te ofrecemos un servicio de calidad, con el que ahorraras tiempo y esfuerzo.
        En este servicio contaras de una persona que irá a tu casa en el horario y los días acordados ha realizar el servicio de limpieza de su hogar.
        <hr><b>Horario predefinido: <br> De Lunes a Viernes de 10:00 a 13:00 en cualquier momento durante un més.</b>
        <hr>
        Servicio mínimo de una semana, en el cuadro que hay a continuacíon debera indicar cualquier preferencia que tenga en cuanto a días y horas, o cualquier otra cosa que nos quiera informar
        para ajustarnos lo máximo a sus deseos. Si tenemos cualquier duda, contactaremos con usted. Gracias.
        <hr>
        <form th:action="@{/peticion/addComentarioL}" method="POST" id="addComentL">
            <textarea rows="4" cols="50" name="comment" form="addComentL" placeholder="Lunes a Viernes de 12 a 13, durante 1 mes"
                      style="height: 4em; width:30em;"></textarea><br>
            <input class="boton_personalizado1" href="limpieza" role="button" type="submit" value="Solicitar ahora">
        </form>
    </div>
    <br>
<!--    <div style="background-image: url('http://imgfz.com/i/NAU3P1p.jpeg'); background-size: 100% 100%;">-->
    <div style="background: rgba(105, 124, 224, 0.2">
        <h2><img src="http://imgfz.com/i/kle6Sbi.png"width="60" height="60"> Servicio de Catering</h2>
        <hr>
        <h4><img src="https://image.flaticon.com/icons/svg/2916/2916115.svg"width="40" height="40">&nbsp;Precio: 6 euros por cada servicio</h4>
        <br>
        Este servicio consiste en un cattering diario, en el que nos adaptamos a ti, solo tienes que comunicarnos si necesitas un menu especial, como puede ser sin sal, vegana o vegetariano.
        El servicio de catering se desplazara a tu casa, llevandote la comida todos los días de Lunes a Domingo en el horario que se ajuste lo máximo a usted.
        <hr><b>Horario predefinido: <br> De Lunes a Domingo de 14:00 a 15:00 y con una dieta normal durante un més.</b>
        <hr>
        No hay servicio mínimo, en el cuadro que hay a continuacíon debera indicar cualquier preferencia que tenga en cuanto a días y horas, o cualquier otra cosa que nos quiera informar
        para ajustarnos lo máximo a sus deseos. Si tenemos cualquier duda, contactaremos con usted. Gracias.
        <hr>
        <form th:action="@{/peticion/addComentarioC}" method="POST" id="addComentC">
            <textarea rows="4" cols="50" name="comment" form="addComentC" placeholder="Lunes a Domingo de 14 a 15. Del 10 al 17 de Marzo"
                      style="height: 4em; width:30em;"></textarea><br>
            <input class="boton_personalizado1" href="catering" role="button" type="submit" value="Solicitar ahora">
        </form>
    </div>
    <br>
<!--    <div style="background-image: url('http://imgfz.com/i/3dpV1er.jpeg'); background-size: 100% 100%;">-->
    <div style="background: rgba(105, 124, 224, 0.2">
        <h2><img src="http://imgfz.com/i/aF56bJl.png"width="60" height="60">Servicio Sanitario</h2>
        <hr>
        <h4><img src="https://image.flaticon.com/icons/svg/2916/2916115.svg"width="40" height="40">&nbsp;Precio: 5 euros por cada servicio</h4>
        <br>
        En Mayores en casa, sabemos que lo más importante para las personas mayores es que envejezcan en su hogar activamente, para ello creamos este servicio.
        Este servicio consiste en un servicio de salud básica, en el que nos adaptamos a ti, solo tienes que mostrarnos un informe medico donde nos indique que medicamentos
        o que control de salud necesitas. El servicio de salud se desplazara a su casa, en cualquier momento, para asegurarse de que lleve al dia el control de salud que necesite
        <hr>
        <b>Horario predefinido: <br> De Lunes a Domingo de 10:00 a 13:00 en cualquier momento durante un més.</b>
        <hr>
        No hay servicio mínimo, en el cuadro que hay a continuacíon debera indicar cualquier preferencia que tenga en cuanto a días y horas, o cualquier otra cosa que nos quiera informar
        para ajustarnos lo máximo a sus deseos. Si tenemos cualquier duda, contactaremos con usted. Gracias.
        <hr>
        <form th:action="@{/peticion/addComentarioS}" method="POST" id="addComentS">
            <td><textarea rows="4" cols="50" name="comment" form="addComentS" placeholder="Lunes a Domingo de 11 a 12, durante 1 mes"
                          style="height: 4em; width:30em;"></textarea> </td><br>
            <td style=" padding: 15px;height: 60px;"><input class="boton_personalizado1" href="sanitario" role="button" type="submit" value="Solicitar ahora">
        </form>
    </div>
    <br>
<h3>¿No sabes como utilizar nuestra página?</h3>
<a class="boton_personalizado1" th:href="@{/beneficiario/contacta}" role="button">Contacta con tu asistente</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
</body>
</html>