<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        th,td {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 15px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body >
<div  layout:fragment="content" >
<div style="padding: 25px 50px;background-color:#B0E0E6;"><h1>Mayores a casa | Beneficiaros | Servicios</h1>
</div>

<br>
<h2>¿Que servicio o servicios necesitas?</h2>
<table style=" table-layout: auto; width: 100%;  ">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripcion</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>LIMPIEZA</td>
            <td>200€/MES</td>
            <td>De Lunes a Domingo, 16 a 18 horas</td>
            <td><a class="boton_personalizado1" href="limpieza" role="button" data-toggle="modal"  data-target="#modal" >Solicitar</a></td>
        </tr>
        <tr>
            <td>CATTERING</td>
            <td>300€/MES</td>
            <td>De Lunes a Domingo, 14 a 15 horas y 21 a 22 horas</td>
            <td><a class="boton_personalizado1" href="cattering" role="button" data-toggle="modal"  data-target="#modal">Solicitar</a></td>
        </tr>
        <tr>
            <td>SALUD</td>
            <td>150€/MES</td>
            <td>De Lunes a Domingo, 10 a 12 horas</td>
            <td><a class="boton_personalizado1" href="sanitario" role="button" data-toggle="modal"  data-target="#modal">Solicitar</a></td>
        </tr>
        </tbody>
</table>
<h3>¿No sabes como utilizar nuestra página?</h3>
<a class="boton_personalizado1" th:href="@{/asistente/solicitar}" role="button">Contacta con un asistente</a>
    <!-- Modal -->
    <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal Header</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div  class="modal-body">
                    <p th:if="*{existe==true}" >Usted ya ha solicitado este servicio.</p>
                    <p th:unless="*{existe==true}" >Se ha solicitado correctamente.</p>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
</div>

</div>
</body>
</html>