<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Indice CasVolunteer</title>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <br>
    <h2 style="font-size:100px; text-align:center; color:#4169e1;"><b>Supervisor de Voluntarios</b></h2>
    <table>
        <td></td>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Beneficiarios</h3></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/beneficiario/list}"><img src="https://image.flaticon.com/icons/svg/1433/1433711.svg"width="36" height="36" align="left">&nbsp;Lista Beneficiarios</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Voluntarios</h3></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/voluntario/list}"><img src="https://image.flaticon.com/icons/svg/2444/2444452.svg"width="36" height="36" align="left">&nbsp;Ver/Editar voluntarios</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/voluntario/registros}"><img src="https://image.flaticon.com/icons/svg/1605/1605350.svg"width="36" height="36" align="left">&nbsp;Altas pendientes</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/voluntario/addCas}"><img src="https://image.flaticon.com/icons/svg/3011/3011013.svg"width="36" height="36" align="left">&nbsp;Registrar voluntario</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </table>
    <br><br>
</div>
</body>
</html>