<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Indice CasVolunteer</title>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <style>
        img{
        display:block;
        margin:auto;
        }
        h1{
        -webkit-text-stroke: 2px black;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <br>
    <h1 style="font-size:100px; text-align:center; color:#4169e1;"><b>CAS Volunteer</b></h1>
    <table>
        <td></td>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Beneficiarios</h3></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><a type="button" class="boton_personalizado1" th:href="@{/beneficiario/list}">Lista beneficiarios</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Voluntarios</h3></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><a type="button" class="boton_personalizado1" th:href="@{/voluntario/list}">Ver/Editar voluntarios</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><a type="button" class="boton_personalizado1" th:href="@{/voluntario/registros}">Altas pendientes</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><a type="button" class="boton_personalizado1" th:href="@{/voluntario/addCas}">Registrar voluntario</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
    </table>
    <br><br>
</div>
</body>
</html>