<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Mayores a casa</title>
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        th,td {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 15px;
        }
        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
<div layout:fragment="content" style="padding: 25px 50px;background-color:#B0E0E6;"><h1 >Lista de los asistentes disponibles</h1></div>
<br>
    <table>
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
<!--            <th scope="col">Que necesitas?</th>-->
        </tr>
        </thead>
        <tbody>

        <tr th:each="asistente: ${asistentes}">
            <td th:text="${asistente.nombre}"></td>
            <td th:text="${asistente.email}"></td>
            <td th:text="${asistente.telefono}"></td>
<!--            <td><input type="text" name="nombredelacaja"></td>-->
            <td><a class="boton_personalizado1" href="" role="button">Contacta</a></td>
        </tr>
        </tbody>
    </table>
<a href="/cas/index" class="boton_personalizado1" role="button" >Volver</a>
<a href="/" class="boton_personalizado1" role="button" >Página Principal</a>
</body>
</html>