<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Contacta</title>
</head>
<body>
<div layout:fragment="content">
    <div style="padding: 25px 50px;background-color:#B0E0E6;"><h1 >Lista de los asistentes disponibles</h1></div>
    <br>
        Si necesitas ayuda personalizada, contacta con uno de nuestros asistentes.
    <br>
    <br>
    <table class="table" border="5" bordercolor="#0973ba" style="width:80%;">
        <thead>
        <tr>
            <th style="background: rgba(9, 115, 186, 0.1" scope="col">Nombre</th>
            <th style="background: rgba(9, 115, 186, 0.1" scope="col">Email</th>
            <th style="background: rgba(9, 115, 186, 0.1" scope="col">Telefono</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="asistente: ${asistentes}">
            <td style="background: rgba(9, 115, 186, 0.1" th:text="${asistente.nombre}"></td>
            <td style="background: rgba(9, 115, 186, 0.1" ><a th:text="${asistente.email}" th:href="'mailto:' + ${asistente.email}"></a></td>
            <td style="background: rgba(9, 115, 186, 0.1" th:text="${asistente.telefono}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a href="/" class="boton_personalizado1" role="button" >Página Principal</a>
    <br><br>
</div>
</body>
</html>