<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Contacta</title>
    <style>
        th, td, tr{
            text-align: center;
            border:black 1;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div style="padding: 25px 50px;background-color:#B0E0E6;"><h1 >Lista de los asistentes disponibles</h1></div>
    <br>
        <table class="table table-striped" border="5" bordercolor="#0973ba">
            <thead>
            <tr>
                <th style="text-align: center" scope="col">Nombre</th>
                <th style="text-align: center" scope="col">Email</th>
                <th style="text-align: center" scope="col">Telefono</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="asistente: ${asistentes}">
                <td th:text="${asistente.nombre}"></td>
                <td th:text="${asistente.email}"></td>
                <td th:text="${asistente.telefono}"></td>
                <td><a class="boton_personalizado1" href="/asistente/contacto" role="button" >Contacta</a></td>
            </tr>
            </tbody>
        </table>
    <br>
    <br>
    <a href="/" class="boton_personalizado1" role="button" >Página Principal</a>
</div>
</body>
</html>