<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{fragments/base}">-->
<head>
    <title>Nuevo voluntario</title>
</head>
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />-->
<!--    <link rel="stylesheet" type="text/css" href="/css/estils.css"-->
<!--          th:href="@{/css/estils.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<div   layout:fragment="content">-->
<!--    <div  style="padding: 25px 50px;background-color:#B0E0E6;">-->
<!--        <h1 style="color:black;" >Mayores a casa | Voluntarios </h1>-->
<!--    </div>-->

<!--    <header><h3>Cuidado de mayores a domicilio<br>-->
<!--        Registrate como voluntario o llámanos al 920 14 58 74<br>-->
<!--        <hr></h3></header>-->
<body>
<form action="#" th:action="@{/voluntario/add}"
      th:object="${usuario}" method="post">
    <table style="margin:auto">

        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" maxlength="50" /></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" maxlength="10"/></td>
        </tr>
        <tr>
            <td><label>Genero</label></td>
            <td><input type="text" th:field="*{genero}" maxlength="10"/></td>
        </tr>
<!--        <tr>-->
<!--            <td><label>Genero</label></td>-->

<!--            <td> <select class="form_control" type="text" th:field="*{genero}">-->
<!--                <option th:each="generovalue : ${generoList}"-->
<!--                        th:value="${generovalue}"-->
<!--                        th:text="${generovalue}"></option>-->
<!--            </select>-->
<!--            </td>-->
<!--            <td th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"  class="error" ></td>-->
<!--        </tr>-->

        <tr>
            <td><label>Usuario</label></td>
            <td><input type="text" th:field="*{usuario}" maxlength="50"/></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="password" th:field="*{contraseña}" maxlength="50"/></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" maxlength="100"/></td>
        </tr>
        <tr>
            <td><label>Direccion</label></td>
            <td><input type="text" th:field="*{direccion}" maxlength="100"/></td>
        </tr>

        <tr>
            <td><label>Fecha de nacimiento</label></td>
            <td><input type="date" th:field="*{fechanacimiento}" /></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td><input type="number" th:field="*{telefono}" /></td>
        </tr>
        <tr>

            <td colspan="2"><input type="submit" class="boton_añadir" role="button" value="Registrate" /></td>
        </tr>
    </table>
    <br>
</form>
<!--</div>-->
<a th:href="@{/}" class="boton_personalizado1" role="button" >Volver</a>
</body>
</html>