<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Lista peticiones</title>

    <style>
  th, td, tr{
            border:black 1;
        }

    </style>
</head>
<body>
<!--style="overflow: hidden;-->
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h2 style="color:black;" >Mayores en casa | Voluntario | Peticiones </h2>
    </div>
    <h3>Peticiones pendientes de aceptar/rechazar</h3>
    <br>
    <table class="table" border="5" bordercolor="#0973ba" style="background: rgba(105, 124, 224, 0.1">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Email</th>
            <th scope="col">Dia de preferencia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element:${map}"  th:unless="*{map == null}">
            <td th:text="${element.key.nombre}"></td>
            <td th:text="${element.key.direccion}"></td>
            <td th:text="${element.key.telefono}"></td>
            <td th:text="${element.key.email}"></td>
            <td th:text="${map.get(element.key).comentario}"></td>
            <td>
                <a type="button"
                   th:href="@{/voluntario/aceptarBen/{dni}(dni=${element.key.dni})}">
                    <img  class="boton_añadir" src="https://image.flaticon.com/icons/svg/159/159767.svg" width="50"  alt="x" /></a>
            </td>
            <td>
                <a type="button"
                   th:href="@{/voluntario/rechazarBen/{dni}(dni=${element.key.dni})}">
                    <img  class="boton_editar" src="https://image.flaticon.com/icons/svg/126/126098.svg" width="50"  alt="x" /></a>
            </td>
<!--            <td><a type="button"-->
<!--                   th:href="@{/voluntario/deleteBen/{dni}(dni=${element.key.dni})}">-->
<!--                <img class="boton_eliminar" src="https://image.flaticon.com/icons/svg/1632/1632602.svg" width="50" alt="x" /></a></td>-->
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h3 style="color:green" >Info: <img src="https://image.flaticon.com/icons/svg/2912/2912778.svg"width="50" height="50">&nbsp;Peticiones aceptadas</h3>
    <br>
    <table class="table" border="5" bordercolor="#00db0b" style="background: rgba(0, 219, 11, 0.2">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col">Fecha inicio</th>
            <th scope="col">Dia de preferencia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element:${beneficiariosA}"  th:unless="*{beneficiariosA == null}">
            <td th:text="${element.key.nombre}"></td>
            <td><a type="button" class="boton_editar" style="font-size: 14px;" th:href="@{/beneficiario/unilist/{usuario}(usuario=${element.key.usuario})}">Datos personales</a></td>
            <td th:text="${{beneficiariosA.get(element.key).fechainicial}}"></td>
            <td th:text="${beneficiariosA.get(element.key).comentario}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <h3 style="color:red" >Info: <img src="https://image.flaticon.com/icons/svg/2912/2912778.svg"width="50" height="50">&nbsp;Peticiones rechazadas</h3>
    <br>
    <table class="table" border="5" bordercolor="#ff0000" style="background: rgba(255, 0, 0, 0.2" >
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dia de preferencia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element:${beneficiariosR}"  th:unless="*{beneficiariosA == null}">
            <td th:text="${element.key.nombre}"></td>
            <td th:text="${element.key.direccion}"></td>
            <td th:text="${element.key.telefono}"></td>
            <td th:text="${beneficiariosR.get(element.key).comentario}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <a href="/voluntario/index" class="boton_personalizado1" role="button" >Atrás</a>
    <br>
    <br><br>

</div>
</body>
</html>
