<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Error relaciones</title>

</head>
<body>
<div  layout:fragment="content" >
    <img src="https://image.flaticon.com/icons/svg/753/753345.svg" width="180" height="180">
    <table>
        <tr><td><h4>El voluntario tiene actualmente relaciones activas.</h4></td></tr>
        <tr><td><h4>Antes de eliminarlo se deben finalizar/eliminar.</h4></td></tr>
    </table>
    <br>
    <br>
    <br>
    <a onClick="history.back()" class="boton_personalizado1" role="button" ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="50"  alt="x"></a>
    &nbsp;&nbsp;<a th:href="@{/}" class="boton_personalizado1" role="button" >Página principal</a>
    <br>
    <br>
</div>
</body>
</html>