<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Indice voluntario</title>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h1>Mayores en casa | Voluntario</h1>
    </div>
    <br>
    <table style="width:100%;">
        <tr><td><br></td></tr>
        <tr><td><h3>Perfil</h3></td><td style="text-align: right;" ><h3>¿Necesitas ayuda?&nbsp;&nbsp;&nbsp;</h3></td></tr>
        <tr th:each="user: ${perfil}">
            <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/voluntario/unilistPropio/{usuario}(usuario=${user.usuario})}"><img src="https://image.flaticon.com/icons/svg/989/989001.svg"width="36" height="36" align="left">&nbsp;Ver/Modificar datos</a></td>
            <td style="text-align: right;" ><a type="button" class="boton_añadir" th:href="@{/voluntario/contactaCas}"><img src="https://image.flaticon.com/icons/svg/988/988999.svg"width="36" height="36" align="left">&nbsp;Contacta con el CasVolunteer</a></td>
        <tr><td><br></td></tr>
        <tr><td><h3>Ocupación</h3></td></tr>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/voluntario/beneficiarios}"><img src="https://image.flaticon.com/icons/svg/1296/1296605.svg"width="36" height="36" align="left">&nbsp;Peticiones</a></td>
        <tr><td><br></td></tr>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/voluntario/activas}"><img src="https://image.flaticon.com/icons/svg/1296/1296621.svg"width="36" height="36" align="left">&nbsp;Actividades</a></td>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Visibilidad en la aplicación</h3></td></tr>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/voluntario/perfil}"><img src="https://image.flaticon.com/icons/svg/1296/1296633.svg"width="36" height="36" align="left">&nbsp;Visibilidad</a></td>
    </table>
    <br><br><br>
    <br>
    <h3 style="color:green">Info: <img src="https://image.flaticon.com/icons/svg/2912/2912778.svg"width="50" height="50">&nbsp;Actividades actuales</h3>
    <br>
    <table class="table" border="5" bordercolor="#00db0b" style="background: rgba(0, 219, 11, 0.2">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col">Fecha inicio</th>
            <th scope="col">Dia de preferencia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element:${beneficiariosA}">
            <td th:text="${element.key.nombre}"></td>
            <td><a type="button" class="boton_editar" style="font-size: 14px;" th:href="@{/beneficiario/unilist/{usuario}(usuario=${element.key.usuario})}">Datos personales</a></td>
            <td th:text="${{beneficiariosA.get(element.key).fechainicial}}"></td>
            <td th:text="${beneficiariosA.get(element.key).comentario}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <table>
        <tr><img style="display: block; margin-left: auto; margin-right: auto;"src="http://imgfz.com/i/vpNjt51.png"></tr>
    </table>
</div>
</body>
</html>