<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Mayores en casa</title>

    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h1>Mayores en casa | Voluntario</h1>
    </div>
    <br>
    <br>
    <table >
        <tr><td><br></td></tr>
        <tr><td><h3>Perfil</h3></td></tr>
        <tr th:each="user: ${perfil}">
            <td><a class="boton_añadir" th:href="@{/voluntario/unilistPropio/{usuario}(usuario=${user.usuario})}" role="button">Ver/Modificar datos</a></td></tr>
        <tr><td><br></td></tr>
        <tr><td><h3 style="color:black">Ocupación</h3></td></tr>
        <tr><td><a class="boton_editar" th:href="@{/voluntario/beneficiarios}" role="button">Mis Actividades</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Visibilidad en la aplicación</h3></td></tr>
        <tr><td><a class="boton_personalizado1" th:href="@{/voluntario/perfil}" role="button">Visibilidad</a></td></tr>
    </table>
    <br>
    <table>
        <tr><img src="http://imgfz.com/i/vpNjt51.png"></tr>
    </table>
</div>
</body>
</html>