<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">

<head>
    <title>Gestionar beneficiarios</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <style>

        th, td, tr{
            text-align: center;
            border:black 1;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
<h2>Lista de los Asistentes</h2>
<table  class="table table-striped" border="5" bordercolor="#0973ba" >
    <thead>
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">DNI</th>
        <th scope="col">Email</th>
        <th scope="col">Direccion</th>
        <th scope="col">F.Nacimiento</th>
        <th scope="col">Telefono</th>
        <th scope="col">Estado</th>

    </tr>
    </thead>
    <tbody>

    <tr th:each="element:${map}" th:unless="*{map == null}">
        <td th:text="${element.key.nombre}"></td>
        <td th:text="${element.key.dni}"></td>
        <td th:text="${element.key.email}"></td>
        <td th:text="${element.key.direccion}"></td>
        <td th:text="${element.key.nacimiento}"></td>
        <td th:text="${element.key.telefono}"></td>
        <td th:text="${map.get(element.key)}"></td>



        <td><a type="button"
               th:href="@{/voluntario/aceptar/{dni}(dni=${element.key.dni})}">
            <img  class="boton_añadir" src="https://image.flaticon.com/icons/svg/159/159767.svg" width="50"  alt="x" /></a></td>
        <td><a type="button"
               th:href="@{/voluntario/rechazar/{dni}(dni=${element.key.dni})}">
            <img class="boton_editar" src="https://image.flaticon.com/icons/svg/126/126098.svg" width="50" alt="x" /></a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/cas/index" class="boton_personalizado1" role="button" >Volver</a>
</div>
</body>
</html>