<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Lista voluntarios</title>

    <style>
  th, td, tr{
            text-align: left;
            border:black 1;
        }

    </style>
</head>
<body>
<!--style="overflow: hidden;-->
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h2 style="color:black;" >Mayores en casa | CAS Volunteer | Voluntarios </h2>
    </div>
    <br>
    <h2><img src="https://image.flaticon.com/icons/svg/3003/3003148.svg"width="70" height="70">&nbsp;&nbsp;Lista de los voluntarios registrados </h2>
    <br>
    <table class="table" border="5" bordercolor="#0973ba">
        <thead>
        <tr>
            <th style="background: rgba(9, 115, 186, 0.1" scope="col">Nombre</th>
            <th style="background: rgba(9, 115, 186, 0.1" scope="col">Telefono</th>
            <th style="background: rgba(9, 115, 186, 0.1" scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${usuarios}">
            <td style="background: rgba(9, 115, 186, 0.1" th:text="${user.nombre}"></td>
            <td style="background: rgba(9, 115, 186, 0.1" th:text="${user.telefono}"></td>
            <td style="background: rgba(9, 115, 186, 0.1" th:text="${user.email}"></td>
            <td style="background: rgba(9, 115, 186, 0.1"><a type="button" class="boton_editar" style="font-size: 14px;" th:href="@{/voluntario/unilist/{usuario}(usuario=${user.usuario})}">Más Información</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="/casvolunteer/index" class="boton_personalizado1" role="button" >Atrás</a>
    <br><br>

</div>
</body>
</html>