<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Mi Perfil</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <style>
        form {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
    </style>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h1 style="color:black;" >Mayores en casa | Voluntario </h1>


    </div>

    <br>
    <br>
    <table style="margin:left">
        <tr>
            <td>
                <h3>Visibilidad</h3>
            </td>
        </tr>
        <tr>
            <td>
                <a>Si no puedes atender a más personas mayores, pulsa "Dejar de estar visible" y no podrán solocitarte citas nuevas, pero podrás seguir atendiendo a los mayores asignados</a>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><a class="boton_personalizado1"   th:if="*{visibilidad=='si'}" th:href="@{/voluntario/quitarVisibilidad}" role="button">Dejar de estar visible</a>
            <a class="boton_añadir"   th:if="*{visibilidad=='no'}" th:href="@{/voluntario/ponerVisibilidad}" role="button">Ponerse visible</a></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td>
                <h3>Alta/Baja en la aplicación</h3>
            </td>
        </tr>
        <tr>
            <td>
                <img src="https://image.flaticon.com/icons/svg/2905/2905068.svg"width="30" height="30"><b style="font-size: 16px;">&nbsp;Precaución</b><br>
                <a>Si no puedes atender a ninguna persona mayor, aunque la estés atendiendo actualmente, pulsa "Darse de Baja", tus actividades actuales finalizaran. Podrás "Darte de alta" más adelante.</a>
                <br>
            </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><a class="boton_eliminar"   th:if="*{estado=='Aceptado'}" th:href="@{/voluntario/baja}" role="button">Darse de baja</a>
            <a class="boton_añadir"   th:if="*{estado=='Baja'}" th:href="@{/voluntario/alta}" role="button">Darse de alta</a></td>
        </tr>
    </table>
    <br>
    <br>
    <hr>
    <a href="/voluntario/index" class="boton_personalizado1" role="button" >Atrás</a>
    <br>
    <br>
    <br>
</div>
</body>
</html>