<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Actualizar Empresa</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
</head>
<body>
<div layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h3 style="color:black;" >Mayores en casa | CAS Volunteer | Modificar voluntario</h3>
    </div>
    <br>
    <form action="#" th:action="@{/voluntario/update}"
          th:object="${usuario}" method="post">
        <br>
        <h2><img src="https://image.flaticon.com/icons/svg/3050/3050236.svg"width="60" height="60">&nbsp;&nbsp;<td th:text="*{nombre}" ></td></h2>
        <table class="table table-striped" border="5" bordercolor="#0973ba" style=" width:80%">
            <tr>
                <td style="text-align: right"><label>Nombre</label></td>
                <td><input type="text" th:field="*{nombre}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td style="text-align: right"><label>DNI</label></td>
                <td><input type="text" th:field="*{dni}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td style="text-align: right"><label>Usuario</label></td>
                <td><input type="text" th:field="*{usuario}" readonly="readonly" /></td>
            </tr>
            <tr>
                <td style="text-align: right"><label>Contraseña</label></td>
                <td><input type="text" th:field="*{contraseña}" /></td>
            </tr>
            <tr>
                <td style="text-align: right"><label>Email</label></td>
                <td><input type="text" th:field="*{email}" /></td>
            </tr>
            <tr>
                <td style="text-align: right"><label>Dirección</label></td>
                <td><input type="text" th:field="*{direccion}" /></td>
            </tr>

            <tr>
                <td style="text-align: right"><label>Telefono</label></td>
                <td><input type="number" th:field="*{telefono}" /></td>
            </tr>
            <tr>
                <td style="text-align: right"><label>Genero</label></td>
                <td><input type="text" th:field="*{genero}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td style="text-align: right"><label>Año de nacimiento</label></td>
                <td><input type="text" th:field="*{nacimiento}" /></td>
            </tr>
        </table>
        <td colspan="2"><input type="submit" class="boton_añadir" value="Modificar" /></td>
        <br>
        <br>
        <br>
        <a th:href="@{/voluntario/unilist/{usuario}(usuario=*{usuario})}" class="boton_personalizado1" role="button" >Atrás</a>
        <br>
        <br>
    </form>
</div>
</body>
</html>