<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Actualizar voluntario</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
</head>
<body>
<div layout:fragment="content">
<h2>voluntario</h2>
<form action="#" th:action="@{/voluntario/update}"
      th:object="${voluntario}" method="post">
    <table style="margin:auto">
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>Genero</label></td>
            <td><input type="text" th:field="*{genero}" /></td>
        </tr>

        <tr>
            <td><label>Usuario</label></td>
            <td><input type="text" th:field="*{usuario}" /></td>
        </tr>
        <tr>
            <td><label>Contraseña</label></td>
            <td><input type="text" th:field="*{contraseña}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Direccion</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
        </tr>

        <tr>
            <td><label>Fecha de nacimiento</label></td>
            <td><input type="date" th:field="*{fechanacimiento}" /></td>
        </tr>
        <tr>
            <td><label>Teléfono</label></td>
            <td><input type="number" th:field="*{numero_telefono}" /></td>
        </tr>
        <tr>

        <tr>
            <td colspan="2"><input type="submit" class="boton_añadir" role="button" value="Edita voluntario" /></td>
        </tr>
    </table>
    <br>
    <a th:href="@{/empresa/list}" class="boton_personalizado1" role="button" >Volver</a>
</form>
</div>
</body>
</html>