<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <style>
        img{
        display:block;
        margin:auto;
        }
        h1{
        -webkit-text-stroke: 2px black;
        }
    </style>
</head>
<body>
<div  layout:fragment="content">
    <br>
    <h1 style="font-size:100px; text-align:center; color:#4169e1;"><b>CAS Manager</b></h1>
    <table>
        <tr><td><h3>Gestión de Empresa</h3></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_personalizado1" th:href="@{/empresa/list}" role="button">Lista de Empresas</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_añadir" th:href="@{/empresa/add}" role="button">Registrar Empresa</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Gestión de Contratos</h3></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_añadir" th:href="@{/contrato/add}" role="button">Añadir Contratos de Empresa</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_personalizado1" th:href="@{/contrato/list}" role="button">Ver Contratos de Empresa en activo</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_personalizado1" th:href="@{/contrato/listPasados}" role="button">Ver Contratos de Empresa pasados</a></td></tr>
<!--        <tr><td>&nbsp;</td></tr>-->
<!--        <tr><td><h3>Gestión de Facturas</h3></td></tr>-->
<!--        <tr><td>&nbsp;</td></tr>-->
<!--        <tr><td><a class="boton_personalizado1" th:href="@{/peticion/facturas}" role="button">Generar Factura</a></td></tr>-->
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
    </table>
<!--    <hr style="border: 5px solid #4169e1; border-radius: 5px; border-style: inset;">-->
<!--    <img src="http://imgfz.com/i/aeIdtgx.png">-->
    <br><br>
</div>
</body>
</html>