<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Indice CasManager</title>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    </style>
</head>
<body>
<div  layout:fragment="content">
    <br>
    <h1 style="font-size:100px; text-align:center; color:#4169e1;"><b>CAS Manager</b></h1>
    <table>
        <tr><td><h3>Gestión de Empresa</h3></td></tr>
        <td><a type="button" class="boton_añadir"  th:href="@{/empresa/list}"><img src="https://image.flaticon.com/icons/svg/994/994268.svg"width="36" height="36" align="left">&nbsp;Lista de Empresas</a></td>
        <tr><td>&nbsp;</td></tr>
        <td><a type="button" class="boton_añadir"  th:href="@{/empresa/add}"><img src="https://image.flaticon.com/icons/svg/994/994092.svg"width="36" height="36" align="left">&nbsp;Registrar Empresa</a></td>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Gestión de Contratos</h3></td></tr>
        <td><a type="button" class="boton_añadir"  th:href="@{/contrato/add}"><img src="https://image.flaticon.com/icons/svg/994/994156.svg"width="36" height="36" align="left">&nbsp;Añadir Contratos de Empresa</a></td>
        <tr><td>&nbsp;</td></tr>
        <td><a type="button" class="boton_añadir"  th:href="@{/contrato/list}"><img src="https://image.flaticon.com/icons/svg/1296/1296602.svg"width="36" height="36" align="left">&nbsp;Ver Contratos de Empresa en activo</a></td>
        <tr><td>&nbsp;</td></tr>
        <td><a type="button" class="boton_añadir"  th:href="@{/contrato/listPasados}"><img src="https://image.flaticon.com/icons/svg/1296/1296603.svg"width="36" height="36" align="left">&nbsp;Ver Contratos de Empresa pasados</a></td>
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
    </table>
    <br><br>
</div>
</body>
</html>