<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <style>
        img{
        display:block;
        margin:auto;
        }
    </style>
</head>
<body>
<div  layout:fragment="content">
<!--    <div style="padding: 25px 50px;background-color:#B0E0E6;"><h1>Mayores en casa | CAS MANAGER </h1></div>-->

    <br>
    <img src="http://imgfz.com/i/c73WXPK.png"width="800" height="200">
    <table>
        <tr><td><h3>Gestión de Empresa</h3></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_personalizado1" th:href="@{/empresa/list}" role="button">Lista de Empresas</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_añadir" th:href="@{/empresa/add}" role="button">Registrar Empresa</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Gestión de Contratos</h3></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_añadir" th:href="@{/contrato/add}" role="button">Añadir Contratos de Empresa</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_personalizado1" th:href="@{/contrato/list}" role="button">Ver Contratos de Empresa en activo</a></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><a class="boton_personalizado1" th:href="@{/contrato/listPasados}" role="button">Ver Contratos de Empresa pasados</a></td></tr>
<!--        <tr><td>&nbsp;</td></tr>-->
<!--        <tr><td><h3>Gestión de Facturas</h3></td></tr>-->
<!--        <tr><td>&nbsp;</td></tr>-->
<!--        <tr><td><a class="boton_personalizado1" th:href="@{/peticion/facturas}" role="button">Generar Factura</a></td></tr>-->
        <tr><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td></tr>
    </table>
    <img src="http://imgfz.com/i/aeIdtgx.png">
    <br><br>

</div>
</body>
</html>