
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />

    <!-- app css  -->
    <link type="text/css" th:href="@{/css/estils.css}" href="/css/estils.css"
          rel="stylesheet"/>

    <title layout:title-pattern="$CONTENT_TITLE">Mayores en casa</title>
</head>

<body  >
<div th:replace="fragments/nav" ></div>
<div class="container">

<header class="page-header">
</header>

<!--<div th:replace="fragments/logininfo"></div>-->
<div layout:fragment="content"></div>

</div>
<footer style="position: bottom;" >

    <div align="center" style="width:100%;background-color:#4169E1;color:white;"><p class="body">
        <p class="h3">Mayores en casa</p>
        <br>
        Telefono: 920 14 58 74 - Email: <a style="color:white" href="mailto:al375877@uji.es">mayorescasa@gva.es</a><br>
        © Copyright 2020.  Todos los derechos reservados. √ Usamos Cookies<br>
        <br>
        <table align="center" border="0">
            <td><a href="https://www.facebook.com/" target="_blank"><img src="https://image.flaticon.com/icons/svg/145/145802.svg" width="50" height="50"></a></td><td>&nbsp;</td>
            <td><a href="https://twitter.com/" target="_blank"><img src="https://image.flaticon.com/icons/svg/145/145812.svg" width="50" height="50"></a></td><td>&nbsp;</td>
            <td><a href="https://www.instagram.com/" target="_blank"><img src="https://image.flaticon.com/icons/svg/145/145805.svg" width="50" height="50"></a></td><td>&nbsp;</td>
        </table>
        <br>
    </div>
</footer>
</body>

</html>


