<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=TnKQQIT9V1FSjIXrrBT0XzJIH0eWhr7h1GPsePd1QBcgc7A2kxfeU3IS1wjpKLOzXBHzzxYoPiKEKs5plzaSYqwOOfP7cgmvrqpCwpSP0OJYjcVjugZM2ey7YURNJhBltgOF6SymDoNvXaUXh4YWqw" charset="UTF-8"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
</head>
<body>
<div  th:object="${session}" >
    <nav class="navbar navbar-expand-sm  navbar-dark barra_azul" >

        <div align="center">
            <a class="navbar-brand" style="font-family:rondalo;" th:if="*{user == null}" href="/"><b>Mayores en casa</b></a>
            <a class="navbar-brand" style="font-family:rondalo;" th:if="*{tipo=='casManager'}" th:href="@{/}"><b>Mayores en casa</b></a>
            <a class="navbar-brand" style="font-family:rondalo;" th:if="*{tipo=='Beneficiario'}" th:href="@{/beneficiario/index}"><b>Mayores en casa</b></a>
            <a class="navbar-brand" style="font-family:rondalo;" th:if="*{tipo=='Voluntario'}" th:href="@{/voluntario/index}"><b>Mayores en casa</b></a>
            <a class="navbar-brand" style="font-family:rondalo;" th:if="*{tipo=='Empresa'}" th:href="@{/empresa/index}"><b>Mayores en casa</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar" >

                <ul class="navbar-nav mr-auto" style="text-align:center;">
                    <a class="nav-link"  th:if="*{tipo=='casManager'}" th:href="@{/casmanager/index}">Pagina principal | <span class="sr-only">(current)</span></a>
                    <a class="nav-link"  th:if="*{tipo=='casCommitee'}" th:href="@{/cascommitee/index}">Pagina principal | <span class="sr-only">(current)</span></a>
                    <a class="nav-link"  th:if="*{tipo=='casVolunteer'}" th:href="@{/casvolunteer/index}">Pagina principal | <span class="sr-only">(current)</span></a>
                    <a class="nav-link"  th:if="*{tipo=='Beneficiario'}" th:href="@{/beneficiario/index}">Pagina principal | <span class="sr-only">(current)</span></a>
                    <a class="nav-link"  th:if="*{tipo=='Voluntario'}" th:href="@{/voluntario/index}">Pagina principal | <span class="sr-only">(current)</span></a>
                    <a class="nav-link"  th:if="*{tipo=='Empresa'}" th:href="@{/empresa/index}">Pagina principal | <span class="sr-only">(current)</span></a>

                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='casManager'}" th:href="@{/empresa/list}">Ver empresas |</a>
                    <a class="nav-link" th:unless="*{user == null}" th:if="*{tipo=='Beneficiario'}" th:href="@{/voluntario/solicitar}">Ver/Solicitar Voluntario |</a>
                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='Beneficiario'}" th:href="@{/peticion/servicios}">Solicitar Servicio |</a>
                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='casManager'}" th:href="@{/contrato/list}">Ver Contratos |</a>
                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='casCommitee'}" th:href="@{/beneficiario/list}">Ver Beneficiarios |</a>
                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='casCommitee'}" th:href="@{/peticion/list}">Ver Peticiones |</a>
                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='casVolunteer'}" th:href="@{/voluntario/list}">Ver Voluntarios |</a>

                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='Voluntario'}" th:href="@{/voluntario/beneficiarios}">Consultar mis mayores|</a>

                    <a href="/login" th:if="*{user == null}" class="nav-item nav-link " th:href="@{/login}">Iniciar sesion</a>

                    <div  th:unless="*{user == null}" class="dropdown">
                        <li type="button" th:text="*{user.usuario}" class="nav-link barra_azul dropdown-toggle"  data-toggle="dropdown">
                            <span class="caret"></span>
                        </li>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:unless="*{user == null}"  th:if="*{tipo=='Voluntario'}" th:href="@{/voluntario/perfil}">Mi perfil</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:unless="*{user == null}"  th:if="*{tipo=='casManager'}" th:href="@{/empresa/add}">Añadir empresa</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:unless="*{user == null}"  th:if="*{tipo=='casManager'}" th:href="@{/contrato/add}">Añadir contratos</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:unless="*{user == null}"  th:if="*{tipo=='casManager'}" th:href="@{/peticion/facturas}">Generar facturas</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:unless="*{user == null}"  th:if="*{tipo=='casCommitee'}" th:href="@{/beneficiario/add}">Añadir beneficiario</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:unless="*{user == null}"  th:if="*{tipo=='casVolunteer'}" th:href="@{/voluntario/list}">Gestionar voluntarios</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:unless="*{user == null}"  th:if="*{tipo=='Beneficiario'}" th:href="@{/peticion/misPeticiones}">Mis Peticiones</a></li>

                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/logout}">Cerrar sesión</a></li>
                        </ul>

                    </div>


                </ul>


            </div>

        </div>

    </nav>
</div>

</body>
</html>

