<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=TnKQQIT9V1FSjIXrrBT0XzJIH0eWhr7h1GPsePd1QBcgc7A2kxfeU3IS1wjpKLOzXBHzzxYoPiKEKs5plzaSYqwOOfP7cgmvrqpCwpSP0OJYjcVjugZM2ey7YURNJhBltgOF6SymDoNvXaUXh4YWqw" charset="UTF-8"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
</head>
<body>
<div class="nav" th:object="${session}">
    <nav class="navbar navbar-expand-lg navbar-dark barra_azul" >

        <div class="container">
            <a class="navbar-brand" style="font-family:rondalo;" th:if="*{user == null}" href="/"><b>Mayores a casa</b></a>
            <a class="navbar-brand" style="font-family:rondalo;" th:if="*{tipo=='cas'}" th:href="@{/cas/index}"><b>Mayores a casa</b></a>
            <a class="navbar-brand" style="font-family:rondalo;" th:if="*{tipo=='Beneficiario'}" th:href="@{/beneficiario/index}"><b>Mayores a casa</b></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="navbar-nav mr-auto">
                    <a class="nav-link"  th:if="*{tipo=='cas'}" th:href="@{/cas/index}">Pagina principal | <span class="sr-only">(current)</span></a>
                    <a class="nav-link"  th:if="*{tipo=='Beneficiario'}" th:href="@{/beneficiario/index}">Pagina principal | <span class="sr-only">(current)</span></a>

                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='cas'}" th:href="@{/beneficiario/list}">Gestion de Beneficiarios |</a>
                    <a class="nav-link" th:unless="*{user == null}" th:if="*{tipo=='Beneficiario'}" th:href="@{/voluntario/solicitar}">Ver/Solicitar Voluntario |</a>
                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='Beneficiario'}" th:href="@{/peticion/servicios}">Contratar Servicio |</a>
                    <a class="nav-link" th:unless="*{user == null}"  th:if="*{tipo=='cas'}" th:href="@{/peticion/list}">Peticion Servicios |</a>

                    <a href="/login" th:if="*{user == null}" class="nav-item nav-link " th:href="@{/login}">Iniciar sesion</a>

                    <div  th:unless="*{user == null}" class="dropdown">
                        <li type="button" th:text="*{user.usuario}" class="nav-link barra_azul dropdown-toggle"  data-toggle="dropdown">
                            <span class="caret"></span>
                        </li>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mi perfil</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mis facturas</a></li>

                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" th:href="@{/logout}">Cerrar sesión</a></li>
                        </ul>

                    </div>


                </ul>


            </div>

        </div>

    </nav>
</div>
</body>
</html>

