<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Error BBDD</title>
    <style>
        img {
        max-width: 100%;
        max-height: 100%;
        }
    </style>
</head>
<body>
<div  layout:fragment="content" >
    <img src="https://image.flaticon.com/icons/svg/753/753345.svg" width="180" height="180">
    <table>
        <tr><td><h1>Error al introducir tu información.</h1></td></tr>
        <tr><td>Es posible que el DNI, Nombre o Usuario ya exista en la base de datos</td></tr>
        <tr><td>Por favor revisa los datos, o cambia el nombre de usuario, gracias.</td></tr>
    </table>
    <br>
    <br>
    <br>
    <a onClick="history.back()" class="boton_personalizado1" role="button" ><img src="https://image.flaticon.com/icons/svg/929/929730.svg" width="50"  alt="x"></a>
    &nbsp;&nbsp;<a th:href="@{/}" class="boton_personalizado1" role="button" >Página principal</a>
    <br>
    <br>
</div>
</body>
</html>