
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>
    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <title>Login</title>


</head>
<body>
<div layout:fragment="content">
<h2>Acceso</h2>
<form action="#" th:action="@{/login}"
      th:object="${user}" method="post">
    <p>
        <label>Nombre de usuario:</label>
        <input class="form-control" type="text" th:field="*{usuario}"  placeholder="Nombre usuario"/>
    <div class="error" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></div>
    </p>
    <p>
        <label>Contraseña:</label>
        <input class="form-control" type="password" th:field="*{contraseña}"/>
    <div class="error" th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></div>
    </p>
    <input type="submit" class="boton_añadir" role="button" value="Acceder" />
</form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

</body>
</html>
