<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
        <link rel="stylesheet" type="text/css"
              href="/css/estils.css"
              th:href="@{/css/estils.css}"/>

        <meta charset="UTF-8"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Mayores en casa</title>

    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div   layout:fragment="content">
<h2>Hola, ¿En que puedo ayudarte?</h2>
<table>
    <tr><td><br></td></tr>
    <tr><td><h3>Mi Perfil</h3></td></tr>
    <tr th:each="user: ${perfil}">
        <td><a class="boton_añadir" th:href="@{/beneficiario/unilist/{usuario}(usuario=${user.usuario})}" role="button">Ver mis datos</a></td></tr>
    <tr><td><br></td></tr>
    <tr><td><h3>Voluntarios</h3></td></tr>
    <tr><td><a class="boton_añadir" th:href="@{/voluntario/solicitar}" role="button">Ver/Solicitar Voluntarios</a></td></tr>
    <tr><td><br></td></tr>
    <tr><td><h3>Servicios</h3></td></tr>
    <tr><td><a class="boton_añadir" th:href="@{/peticion/servicios}" role="button">Contratar Servicios</a></td></tr>
    <tr><td><br></td></tr>
    <tr><td><a class="boton_añadir" th:href="@{/peticion/misPeticiones}" role="button">Mis Servicios/Peticiones</a></td></tr>
    <tr><td><br></td></tr>
</table>
    <br>
    <tr><img src="http://imgfz.com/i/aX06UOP.png" width="500" height="333"></tr>
    <br>
<h3>¿No sabes como utilizar nuestra página?</h3>
<a class="boton_personalizado1" th:href="@{/beneficiario/contacta}" role="button">Contacta con tu asistente</a>
    <br><br>
</div>
</body>
</html>