<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
        <link rel="stylesheet" type="text/css"
              href="/css/estils.css"
              th:href="@{/css/estils.css}"/>

        <meta charset="UTF-8"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Indice Beneficiario</title>
</head>
<body>
<div   layout:fragment="content">
<h2>Hola, ¿En que puedo ayudarte?</h2>
<table style="width:100%;">
    <tr><td><br></td></tr>
    <tr>
        <td style="text-align: left;"><h3>Mi Perfil</h3></td>
        <td style="text-align: left;"><h3>Servicios</h3></td>
    </tr>
    <tr th:each="user: ${perfil}">
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/beneficiario/unilist/{usuario}(usuario=${user.usuario})}"><img src="https://image.flaticon.com/icons/svg/989/989001.svg"width="36" height="36" align="left">&nbsp;Ver/Modificar datos</a></td>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/peticion/servicios}"><img src="https://image.flaticon.com/icons/svg/988/988982.svg"width="36" height="36" align="left">&nbsp;Solicitar Servicio</a></td>
    </tr>
    <tr>
        <td><br><br><br><br> </td>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/peticion/misPeticiones}"><img src="https://image.flaticon.com/icons/svg/988/988975.svg"width="36" height="36" align="left">&nbsp;Mis Servicios/Peticiones</a></td>
    </tr>
    <tr><td><h3>Voluntarios</h3></td></tr>
    <tr><td><a type="button" class="boton_añadir" th:href="@{/voluntario/solicitar}"><img src="https://image.flaticon.com/icons/svg/989/989008.svg"width="36" height="36" align="left">&nbsp;Solicitar/Terminar Relación</a></td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td><a type="button" class="boton_añadir" th:href="@{/beneficiario/pendiente}"><img src="https://image.flaticon.com/icons/svg/989/989011.svg"width="36" height="36" align="left">&nbsp;Relaciones Aceptadas/Pendientes</a></td></tr>
    <tr><td><br></td></tr>
    <tr><td><a type="button" class="boton_añadir" th:href="@{/beneficiario/terminados}"><img src="https://image.flaticon.com/icons/svg/957/957307.svg"width="36" height="36" align="left">&nbsp;Relaciones Terminadas</a></td></tr>
    <tr><td><br></td></tr>
</table>
    <br>
    <tr><img style=" display: block; margin-left: auto; margin-right: auto;"src="http://imgfz.com/i/aX06UOP.png" width="500" height="333"></tr>
    <br>
<h3>¿No sabes como utilizar nuestra página?</h3>
<a class="boton_personalizado1" th:href="@{/beneficiario/contacta}" role="button">Contacta con tu asistente</a>
    <br><br>
</div>
</body>
</html>