<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

    <title>Mayores a casa</title>

    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        form {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

    </style>
</head>
<body>
<div   layout:fragment="content">
    <div  style="padding: 25px 50px;background-color:#B0E0E6;">
        <h1 style="color:black;" >Mayores a casa | Beneficiaros </h1>
    </div>

    <header><h2>Cuidado de mayores a domicilio<br>
        Solicita Información o llámanos al 920 14 58 74<br>
        <hr></h2></header>

    <form  class="topBefore" onsubmit="alert('Datos enviados, en 24h seras contactado.');return false">
        <table style="margin:auto">
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126486.svg"width="30" height="30"></td><td>&nbsp;Nombre:&nbsp;</td>
                <td><input class="form-control" id="nombre" type="text" placeholder=" Juan Perez Salvador" size="40" maxlength="50" ></td></tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126109.svg"width="30" height="30"></td><td>&nbsp;Dni:&nbsp;</td>
                <td><input class="form-control" id="dni" type="text" placeholder="41254785Q" size="40" maxlength="50" ></td></tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126470.svg"width="30" height="30"></td><td>&nbsp;Direccion:&nbsp;</td>
                <td><input class="form-control" id="direccion" type="text" placeholder=" Calle nueva, 32 (Castellon)" size="40" maxlength="50" ></td></tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126509.svg"width="30" height="30"></td><td>&nbsp;Telefono:&nbsp;</td>
                <td><input class="form-control" id="telefono" type="text" placeholder=" 655111444" size="40" maxlength="50" ></td></tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126491.svg"width="30" height="30"></td><td>&nbsp;Genero:&nbsp;</td>
                <td><input class="form-control" id="genero" type="text" placeholder=" Hombre" size="40" maxlength="50" ></td></tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126516.svg"width="30" height="30"></td><td>&nbsp;Email:&nbsp;</td>
            <td><input class="form-control" id="email" type="text" placeholder=" ejemplo@gmail.com" size="40" maxlength="50" ></td></tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/159/159224.svg"width="30" height="30"></td><td>&nbsp;F.Nacimiento:&nbsp;</td>
                <td><input class="form-control" id="fechanacimiento" type="text" placeholder=" 25-03-1960" size="40" maxlength="50" ></td></tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126160.svg"width="30" height="30"></td><td>&nbsp;Tipo de dieta:&nbsp;</td>
                <td><input class="form-control" id="dieta" type="text" placeholder=" vegana, sin sal, vegetariana" size="40" maxlength="50" ></td></tr>
            <tr><td><br></td></tr>
            <tr><td><img src="https://image.flaticon.com/icons/svg/126/126500.svg"width="30" height="30"></td><td>&nbsp;¿Algo más?:&nbsp;</td>
                <td><textarea id="mensaje" type="search" placeholder="Cuéntanos algo más sobre lo que necesitas. (opcional)" rows="10" cols="40" maxlength="200" ></textarea></td></tr>
            <tr>
                <td></td><td></td><td><input class="boton_personalizado1" id="enviar" type="submit" value="SOLICITA INFORMACIÓN"> <input class="boton_personalizado1" id="borrar" type="reset" value="BORRAR"></td>
            </tr>
            <tr>
                <br>
            </tr>
        </table>
    </form>
    <table>
        <br>
        <br>
        <tr><img src="https://setemah.com/es/wp-content/uploads/2016/07/contacta-con-nosotros.jpg" width="200" height="66"></tr>
    </table>
    <a href="/" class="boton_personalizado1" role="button" >Volver</a>
</div>
</body>
</html>