<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Indice CasCommitee</title>
    <link rel="stylesheet" type="text/css"
          href="/css/estils.css"
          th:href="@{/css/estils.css}"/>

    <meta charset="UTF-8"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>

</head>
<body>
<div  layout:fragment="content">
    <br>
    <h2 style="font-size:100px; text-align:center; color:#4169e1;"><b>Comité del CAS</b></h2>
    <table>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Gestión de Beneficiarios</h3></td></tr>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/beneficiario/list}"><img src="https://image.flaticon.com/icons/svg/1433/1433711.svg"width="36" height="36" align="left">&nbsp;Lista Beneficiarios</a></td>
        <tr><td>&nbsp;</td></tr>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/beneficiario/add}"><img src="https://image.flaticon.com/icons/svg/994/994168.svg"width="36" height="36" align="left">&nbsp;Registrar Beneficiario</a></td>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Gestión de Peticiones</h3></td></tr>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/peticion/list}"><img src="https://image.flaticon.com/icons/svg/994/994175.svg"width="36" height="36" align="left">&nbsp;Peticiones pendientes</a></td>
        <tr><td>&nbsp;</td></tr>
        <td style="text-align: left;"><a type="button" class="boton_añadir" th:href="@{/peticion/listAcepRech}"><img src="https://image.flaticon.com/icons/svg/994/994160.svg"width="36" height="36" align="left">&nbsp;Peticiones aceptadas/rechazadas</a></td>
        <tr><td>&nbsp;</td></tr>
        <tr><td><h3>Contratos</h3></td></tr>
        <td><a type="button" class="boton_añadir"  th:href="@{/contrato/list}"><img src="https://image.flaticon.com/icons/svg/1296/1296602.svg"width="36" height="36" align="left">&nbsp;Ver Contratos de Empresa en activo</a></td>
        <tr><td>&nbsp;</td></tr>
        <td><a type="button" class="boton_añadir"  th:href="@{/contrato/listPasados}"><img src="https://image.flaticon.com/icons/svg/1296/1296603.svg"width="36" height="36" align="left">&nbsp;Ver Contratos de Empresa pasados</a></td>
        <tr><td>&nbsp;</td></tr>
    </table>
<!--    <img src="http://imgfz.com/i/aeIdtgx.png">-->
    <br><br>

</div>
</body>
</html>